*{
	margin: 0;
	padding: 0;
}
hr {	margin: 1em 0;}
h1, h2, h3, h4 { margin: 0.5em 0;}
#container, table { padding: 1em;}

table th, table td {
	padding: 0.5em;
	border: 1px solid #000;
}

#searchForm { 
	margin: 0.5em;
}

